@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Quicksand:wght@300..700&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Libre Baskerville", serif;
    --secondary-font: "Quicksand", sans-serif;
    --primary-color: #ffedf2; /* pink */
    --secondary-color: #333333;
    --secondary-color-light: #FAF9F6;
    --accent-color: #8A4F63;
    --secondary-accent-color: #BFA5A0;
}

/* Global Styles */

body {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    background: #fff;
    margin: 0;
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

h2 {
    margin-bottom: 1.5rem;
}

.sub-heading-color {
    color: var(--accent-color);
}

/* Navbar */

#navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--primary-color);
}

#navbar .btn-primary {
    background-color: var(--secondary-color-light);
    border: none;
    font-weight: 600;
    padding: 0.75rem 1.2rem;
    font-size: 1rem;
    color:#333333;
    transition: background-color 0.3s, border 0.3s;
}

#navbar .btn-primary:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

.navbar-brand img {
    height: 37px;
    width: auto;
    margin-right: 0.5rem;
    vertical-align: middle;
}

/* Interior Section / Header */

#interior {
    height: 350px;
    background: url("../images/bgh.jpg") no-repeat center center/cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    overflow: hidden;
    text-align: center;
}

#interior::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#cover-text {
    position: relative;
    z-index: 2;
    padding: 2rem;
}


#cover-text h1 {
    font-size: 3rem;
}

#cover-text .btn-primary {
    background: var(--secondary-color-light);
    border: none;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    color:#333333;
    transition: background-color 0.3s ease-in-out;
}

#cover-text .btn-primary:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

/* Services */

#services .card {
    margin-bottom: 2rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

#services .card:hover {
    transform: translate(-5px);
}

#services .card-img-top {
    height: 200px;
    object-fit: cover;
}

#services .card-footer {
    font-family: var(--secondary-font);
    font-weight: 600;
    color: var(--accent-color);
    background-color: transparent;
}

/* Portfolio */

#portfolio img {
    transition: transform 0.3s ease;
    cursor: pointer;
}

#portfolio img:hover {
    transform: scale(1.03);
}

/* Booking Form */

#booking-form .btn-primary {
    background: var(--secondary-color-light);
    border: none;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    color:#333333;
    transition: background-color 0.3s ease-in-out;
}

#booking-form .btn-primary:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

/* Footer / contact */

#contact {
    background-color: var(--primary-color);
    padding-bottom: 2rem 0;
}

#contact h3 {
    font-family: var(--secondary-font);
}

#contact i {
    color: var(--secondary-color);
    margin-right: 0.5rem;
}

#contact .sub-heading-color {
    color: var();
}

#contact .social-links a i {
    color: var(--secondary-color);
    font-size: 1.8rem;
    transition: color 0.3s;
}

#contact .social-links a:hover i {
    color: var(--accent-color);
}

/* Media queries */

/* Medium devices (tablets, 768px and up */
@media screen and (min-width: 768px) {
    #services .card-body {
        min-height: 191px;
    }
}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {
    #services .card-body {
        min-height: auto;
    }
}

/* xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    /* make all service cards the same height for consistency */
    #services .card-body {
        min-height: 220px;
    }
}

/* xxl devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
    /* make all service cards the same height for consistency */
    #services .card-body {
        min-height: 195px;
    }
}
